name: Backend CI/CD

on:
  push:
    branches: ["main"]

permissions:
  contents: read
  packages: write

jobs:

  build-and-publish:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build Docker image
        run: |
          docker build -t ghcr.io/${{ github.repository_owner }}/backend-img:latest .

      - name: Push Docker image
        run: |
          docker push ghcr.io/${{ github.repository_owner }}/backend-img:latest


  deploy-on-device:
    runs-on: self-hosted

    steps:
        - name: Checkout repository
          uses: actions/checkout@v3

        - name: Install Vault CLI
          run: |
                cd "/home/hussein-maher/Desktop/Lx/apptraining-2"
                curl -fsSL https://apt.releases.hashicorp.com/gpg | sudo gpg --dearmor -o /usr/share/keyrings/hashicorp-archive-keyring.gpg
                echo "deb [signed-by=/usr/share/keyrings/hashicorp-archive-keyring.gpg] https://apt.releases.hashicorp.com $(lsb_release -cs) main" | sudo tee /etc/apt/sources.list.d/hashicorp.list
                sudo apt update && sudo apt install -y vault

        - name: Run Vault secrets script
          env:
            VAULT_ADDR: ${{ secrets.VAULT_ADDR }}
            VAULT_TOKEN: ${{ secrets.VAULT_TOKEN }}
          run: |
            chmod +x ./scripts/fetch-vault-env.sh
            ./scripts/fetch-vault-env.sh


        - name: Run docker compose on my device
          run: |
            cd "/home/hussein-maher/Desktop/Lx/apptraining-2"
            docker compose down -v
            docker compose up -d